/* Inter Google Font */
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Raleway Google Font */

.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body{
    background-color: #f5f8ff;
}

/* Shared Styles */

.text-primary-color{
    color: #4E47FF;
}

.primary-button{
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #4E47FF;
    border-radius: 10px;
    border: none;
    padding: 12px 36px;
}

.primary-button:hover{
    background-color: #7F4EFF;
    cursor: pointer;
}

.max-width{
    max-width: 1140px;
}

/* Navbar Styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto 158px;
    padding-top: 52px;
}
nav h2{
    font-size: 34px;
    font-weight: 900;
}

/* Banner Section Styles */
header{
    background-image: url("../images/Hero-bg.png");
}

.banner-section{
    margin: 0 auto;
}

.banner-section h1{
    text-align: center;
    font-size: 65px;
    font-weight: 700;
}

.banner-section-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-section-button{
    margin-bottom: 152px;
}

/* Action Section Styles */
.action-section{
    margin: 116px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action-section-title{
    font-size: 42px;
    font-weight: 700;
    color: #252432;
    margin-bottom: 0px;
}

.action-section-description{
    font-size: 24px;
    font-weight: 400;
    color: rgba(37, 36, 50, 50%)
}

.action-section img{
    border-radius: 48px;
}

/* Productive Users Section Styles */
.productive-users-section{
    margin: 0 auto;
    background-color: rgba(78, 71, 255, 10%);
    border-radius: 24px;
    padding-bottom: 50px;
}

.productive-users-section-title{
    font-size: 38px;
    font-weight: 700;
    color: #252432;
    text-align: center;
    padding: 50px 0px 40px 0px;
    margin: 0px;
}

.productive-users-data-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.productive-users-data-container h1{
    font-size: 80px;
    font-weight: 700;
    margin: 0px;
}

.productive-users-data-container p{
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: rgba(0, 0, 0, 50%);
    margin: 0px;
}

/* Review Section Styles */
.review-section{
    margin: 137px auto 137px;
}

.review-section-title{
    font-size: 42px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
}

.review-cards-container{
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.review-card{
    padding: 24px;
    border-radius: 14px;
    background-color: #FFFFFF;
    width: 366px;
}

.review-card-title{
    color: #1E1E1E;
    margin-top: 24px;
    margin-bottom: 8px;
}

.review-card-description{
    color: #1E1E1E;
    margin-top: 0px;
    margin-bottom: 0px;
}

.reviewer-identity-container{
    display: flex;
    align-items: center;
    gap: 12px;
}

.reviewer-identity-container img{
    border-radius: 100%;
}

.reviewer-name{
    font-size: 16px;
    margin-bottom: 2px;
    color: #757575;
    font-weight: 400;
}

.review-given-date{
    font-size: 16px;
    margin-top: 0px;
    color: #B3B3B3;
    font-weight: 400;
}

/* Newsletter Section Styles */
.newsletter-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 71px auto;
    gap: 65px;
}

.newsletter-section-title-container{
    width: 50%;
}

.newsletter-section-title{
    font-size: 97px;
    font-weight: 700;
    color: #000000;
}

.newsletter-section-form{
    width: 50%;
}

form label{
    font-size: 18px;
    font-weight: 500;
    display: block;
}

input[type="email"]{
    width: 540px;
    height: 70px;
    border-radius: 10px;
    border: none;
    padding-left: 32px;
    margin: 10px 0px 19px 0px;
    font-size: 20px;
    font-weight: 400;
}

input[type="text"]{
    width: 540px;
    height: 70px;
    border-radius: 10px;
    border: none;
    padding-left: 32px;
    margin: 10px 0px 19px 0px;
    font-size: 20px;
    font-weight: 400;
}

.newsletter-section-form textarea{
    border: none;
    border-radius: 10px;
    padding: 20px 32px;
    margin: 10px 0px 19px 0px;
    font-size: 20px;
    font-weight: 400;
}

.newsletter-section-button{
    width: 100%;
    padding: 19px 119px;
}